
        div.fond-noir {
            width: 100%;
        }
    
        .silex-id-1439555806958-90 {
            cursor: auto;
            background-color: rgb(255, 255, 255);
        }
        
        .silex-id-1484951384737-1 {
            top: 5px;
            left: 5px;
            background-position: center right;
            min-width: 945px;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            background-attachment: scroll;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484951384737-1 {
                top: 60px;
                left: 0px;
            }
        }
        
        .silex-id-1484951384736-0 {
            min-height: 746px;
            background-color: transparent;
            width: 945px;
            top: 15px;
            left: 347px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484951384736-0 {
                min-height: 947px;
                top: 168px;
                left: 12px;
                width: 445px;
            }
        }
        
        .silex-id-1519488005571-2 {
            width: 568px;
            min-height: 100px;
            top: 18px;
            left: 187px;
        }
        
        .silex-id-1520009620324-1 {
            width: 947px;
            min-height: 435px;
            top: 163px;
            left: -1px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1520009620324-1 {
                top: 100px;
                left: 11px;
                width: 424px;
                min-height: 150px;
            }
        }
        
        .silex-id-1520589079241-1 {
            width: 1632px;
            top: 263px;
            left: -6px;
            background-color: rgba(0, 0, 0, 1);
            min-height: 697px;
            background-image: url('../assets/Screenshot-2018-3-2%20Agenda%20-%20Framagenda(1').png'); 

        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1520589079241-1 {
                left: 11px;
                top: 250px;
                width: 424px;
                min-height: 697px;
            }
        }
        
        .silex-id-1520588711673-0 {
            width: 1453px;
            background-color: rgba(0, 0, 0, 1);
            min-height: 677px;
            top: 5px;
            left: 98px;
            background-image: url('../assets/Screenshot-2018-2-24%20Agenda%20-%20Framagenda.png');
            background-size: cover;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1520588711673-0 {
                left: 30px;
                top: 5540px;
                width: 417px;
                min-height: 697px;
            }
        }
        
        .silex-id-1484951794946-5 {
            top: 786px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484951794946-5 {
                top: 1007px;
                left: 0px;
            }
        }
        
        .silex-id-1484951794946-4 {
            min-height: 1665px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484951794946-4 {
                min-height: 340488px;
                top: 0px;
                left: 12px;
                width: 447px;
            }
        }
        
        .silex-id-1520009980060-2 {
            width: 1339px;
            min-height: 1228px;
            top: 312px;
            left: -188px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1520009980060-2 {
                top: 342016px;
                left: 12px;
                width: 447px;
                min-height: 1646px;
            }
        }
        
        .silex-id-1484952760464-11 {
            min-height: 100px;
            top: 439px;
            left: 0px;
        }
        
        .silex-id-1484952760463-10 {
            min-height: 585px;
            background-color: transparent;
        }
        
        .silex-id-1484952775498-12 {
            min-height: 288px;
            width: 877px;
            top: 58px;
            left: 33px;
        }
        
        .silex-id-1484952021004-9 {
            top: 2186px;
            left: 5px;
            background-color: rgba(0, 0, 0, 1);
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484952021004-9 {
                top: 351778px;
                left: 0px;
            }
        }
        
        .silex-id-1484952021003-8 {
            min-height: 67px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484952021003-8 {
                min-height: 192px;
            }
        }
    